<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="text/html">
  <link rel="shortcut icon" href="#">
    <title>ERROR</title>
</head>	
<body>
<p th:if="${result.code} != null" th:text="${result.code}">code</p>
<p th:if="${result.message} != null" th:text="${result.message}">message</p>
<p th:if="${result.detail} != null" th:text="${result.detail}">detail</p>
<button onclick="history.go(-1)">back</button>
</body>
</html>