<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
<h2>게시글 리스트</h2>
<button th:if="${session.isLogin == true}" th:onclick="location.href='/v1/logout'">로그아웃</button>
<button th:unless="${session.isLogin == true}" th:onclick="location.href='/v1'">로그인</button>
<table>
    <thead>
        <tr>
            <th class="th">제목</th>
            <th class="th">내용</th>
            <th class="th">작성날짜</th>
            <th class="th">수정날짜</th>
            <th class="th">작성자</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="board : ${boardPage}" class="tr" th:onclick="|location.href='/v1/board/${board.boardId}'|">
            <td th:text="${board.bTitle}" class="td"></td>
            <td th:text="${board.bContent}" class="td"></td>
            <td th:text="${board.createDate}" class="td"></td>
            <td th:text="${board.updateDate}" class="td"></td>
            <td th:text="${board.userName}" class="td"></td>
        </tr>
    </tbody>
</table>
<button style="float: left" th:if="${session.isLogin == true}" th:onclick="location.href='/v1/board'">글쓰기</button>

<nav style="text-align: center;">
    <ul class="pagination" th:with="start=${(boardPage.number/maxPage)*maxPage + 1}, end=(${(boardPage.totalPages == 0) ? 1 : (start + (maxPage - 1) < boardPage.totalPages ? start + (maxPage - 1) : boardPage.totalPages)})"></ul>
</nav>
</body>
</html>